@value primaryBackground, secondaryBackground, thirdBackground, primaryText, secondaryText, thirdText from theme(colors);
@value morning, noon, night from theme(backgrounds);

.wrapper {
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.wrapperMorning {
  background-color: primaryBackground;
  color: primaryText;
}

.wrapperNoon {
  background-color: primaryBackground;
  color: primaryText;
}

.wrapperNight {
  background-color: primaryBackground;
  color: primaryText;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.greeting h1 {
  margin: 0 auto -35px;
}

.greetingMorning h1 {
  color: secondaryText;
}

.greetingNoon h1 {
  color: secondaryText;
}

.greetingNight h1 {
  color: secondaryText;
}

.greetingNight h2 span:nth-child(2) {
  color: thirdText;
}

.work {
  background-size: cover;
  height: 600px;
}

.workMorning {
  background: morning;
}

.workNoon {
  background: noon;
}

.workNight {
  background: night;
}

.work .container {
  position: relative;
  top: 230px;
}

.work h4 {
  margin: 0 auto -35px;
}

.work h3 {
  font-family: 'EB Garamond', serif;
}

.workNight h3 {
  color: secondaryText;
}
