.wrapper {
  background-color: #1A213B;
  color: #FFE3DA;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.greeting h1 {
  margin: 0 auto -35px;
}
.work {
  /*background: url("./morning.png");*/
  background-color: grey;
  height: 855px;
}
.work .container {
  position: relative;
  top: 230px;
}
.work h4 {
  margin: 0 auto -35px;
}
