@value nightPrimaryBackground, nightSecondaryBackground, nightThirdBackground, nightPrimaryText, nightSecondaryText, nightThirdText from theme(night);
@value morningPrimaryBackground, morningSecondaryBackground, morningThirdBackground, morningPrimaryText, morningSecondaryText, morningThirdText from theme(morning);
@value noonPrimaryBackground, noonSecondaryBackground, noonThirdBackground, noonPrimaryText, noonSecondaryText, noonThirdText from theme(noon);


.wrapper {
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.wrapperMorning {
  background-color: morningPrimaryBackground;
  color: nightPrimaryText;
}

.wrapperNoon {
  background-color: noonPrimaryBackground;
  color: nightPrimaryText;
}

.wrapperNight {
  background-color: nightPrimaryBackground;
  color: nightPrimaryText;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.greeting h1 {
  margin: 0 auto -35px;
}

.greetingMorning h1 {
  color: morningSecondaryText;
}

.greetingNoon h1 {
  color: noonSecondaryText;
}

.greetingNight h1 {
  color: nightSecondaryText;
}

.greetingNight h2 span:nth-child(2) {
  color: nightThirdText;
}

.work {
  background-size: cover;
  height: 600px;
}

.workMorning {
  background-image: url('./morning.jpg');
}

.workNoon {
  background-image: url('./noon.jpg');
}

.workNight {
  background-image: url('./night.jpg');
}

.work .container {
  position: relative;
  top: 230px;
}

.work h4 {
  margin: 0 auto -35px;
}

.work h3 {
  font-family: 'EB Garamond', serif;
}

.workNight h3 {
  color: nightSecondaryText;
}
