.wrapper {
  width: 100%;
  height: 100px;
  line-height: 100px;
  z-index: 99;
}

.wrapperMorning {
  background: #3E343F;
}

.wrapperNoon {
  background: #271230;
}

.wrapperNight {
  background: #151827;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-around;
}
